# Kaggle 
# Sentiment Analysis

In [2]:
import string
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk import wordpunct_tokenize

In [3]:
amazon = pd.read_fwf('amazon_cells_labelled.txt',header=None)
amazon.columns = ['Review']
print(len(amazon))
amazon.head()

1000

                                              Review
0  So there is no way for me to plug it in here i...
1                     Good case, Excellent value.\t1
2                          Great for the jawbone.\t1
3  Tied to charger for conversations lasting more...
4                               The mic is great.\t1

In [4]:
imdb = pd.read_fwf('imdb_labelled.txt',header=None)
imdb.columns = ['Review','0','1','2','3']
imdb = imdb.drop(columns=['0','1','2','3'])
print(len(imdb))
imdb.head()

1000

                                              Review
0  A very, very, very slow-moving, aimless movie ...
1  Not sure who was more lost - the flat characte...
2  Attempting artiness with black & white and cle...
3    Very little music or anything to speak of.  \t0
4  The best scene in the movie was when Gerardo i...

In [5]:
yelp = pd.read_fwf('yelp_labelled.txt',header=None)
yelp.columns = ['Review','1','2']
yelp = yelp.drop(columns=['1','2'])
print(len(yelp))
yelp.head()

1000

                                              Review
0                        Wow... Loved this place.\t1
1                              Crust is not good.\t0
2       Not tasty and the texture was just nasty.\t0
3  Stopped by during the late May bank holiday of...
4  The selection on the menu was great and so wer...

In [6]:
frames = [amazon, yelp, imdb]
df = pd.concat(frames,ignore_index=True)
len(df)

3000

In [7]:
df.Review[1]

'Good case, Excellent value.\t1'

In [17]:
def create_word_features(review):
    lower_review = review.lower()
    words = wordpunct_tokenize(lower_review)
    useful_words = [w for w in words 
                    if w not in string.punctuation 
                    and w not in stopwords.words('english')]
    useful_words = useful_words[:-1]
    return useful_words

def move_sentiment(number):
    words = wordpunct_tokenize(number)
    return words[-1]

df ['sentiment'] = df.Review.apply(move_sentiment)
df ['words'] = df.Review.apply(create_word_features)

In [19]:
good_reviews = df.loc[df.sentiment == 1]
bad_reviews = df.loc[df.sentiment == 0]